.currently {
  margin: 2rem 0;

  @include media-query(min-md) {
    display: flex;
  }

  @include media-query(min-lg) {
    margin-left: -1rem;
  }

  @include media-query(min-xl) {
    flex-direction: column;
    margin: 1rem 2rem 1rem -1rem;
    flex: 0 0 350px;
  }

  @include media-query('min-width: 1400px') {
    margin-right: 3rem;
  }
}

.overview {
  text-align: center;

  @include media-query(min-md) {
    flex: 1 0 300px;
  }

  @include media-query(min-xl) {
    flex: none;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.overview__temperature {
  font: 300 6rem/1 $font-regular;
}

.overview__icon {
  margin-left: 1rem;
}

.overview__summary {
  text-align: center;
}

.currently__details {
  font-weight: 300;
  opacity: .8;
  column-count: 2;
  column-gap: 1rem;

  @include media-query('min-width: 375px') {
    font-size: 1.125rem;
  }

  @include media-query(min-md) {
    column-count: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }

  @include media-query(min-xl) {
    justify-content: center;
  }

  span {
    display: block;
    padding: .5rem 0;

    @include media-query(min-md) {
      display: inline-block;
      padding: 0;
      margin: .5rem 1.5rem;
    }

    @include media-query(min-lg) {
      margin: .5rem 1rem;
    }

    svg {
      display: inline-block;
      vertical-align: middle;
      width: 18px;
      height: 18px;
    }
  }
}
