.message {
  padding: 1rem;
  margin: 1rem 0;
  background: $grey3;
  color: $white;

  &.message-error,
  &.message-warning {
    background: $error;
  }

  &.message-watch {
    background: $warning;
  }

  &.message-success {
    background: $success;
  }

  &.message-info,
  &.message-advisory {
    background: $info;
  }
}
