.message {
  padding: .75rem 1rem;
  margin: 1rem 0;
  background: $grey3;
  color: $white;
  font-size: .875rem;

  &.message--error,
  &.message--warning {
    background: $error;
  }

  &.message--watch {
    background: $warning;
  }

  &.message--success {
    background: $success;
  }

  &.message--info,
  &.message--advisory {
    background: $info;
  }

  .message__description {
    margin-top: .5rem;
  }
}
