.navbar {
  background: rgba($black, .25);
  text-align: center;

  @include media-query(min-md) {
    text-align: right;
  }

  form {
    font-size: 0;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 1rem;
    width: calc(100% - 75px);

    @include media-query(min-sm) {
      width: auto;
    }
  }

  input,
  button {
    border: 0;
    background: rgba($white, .3);
    display: inline-block;
    height: 2.75rem;
    vertical-align: bottom;
    font-size: 1rem;
  }

  input {
    padding: .75rem 1rem;
    font-family: $font-condensed;
    line-height: 1;
    width: calc(100% - 44px);

    @include media-query(min-sm) {
      width: 15rem;
    }
  }

  button {
    width: 44px;
    cursor: pointer;
  }
}

::placeholder {
  color: $grey1;
}
