.today {
  margin: 3rem 0;
}

.today__details {
  display: flex;
  justify-content: space-between;

  span,
  img {
    display: inline-block;
    vertical-align: middle;
  }

  span {
    font: 300 1.25rem/2.25rem $font-condensed;
  }

  img {
    margin-right: .5rem;
  }
}

.today__summary {
  flex: 0 0 400px;
}

.today__detail--temps {
  .high {
    font-size: 2.25rem;
    line-height: 1;
  }

  .low {
    opacity: .75;
    font-size: 1.75rem;
    vertical-align: bottom;
    line-height: 1;
    margin-left: .125rem;
  }
}

.today__detail--moonphase,
.today__detail--humidity,
.today__detail--chanceofprecip,
.today__detail--cloudcover {
  text-align: center;
}

.today__detail--moonphase {
  img {
    display: block;
    margin: 0 auto;
  }

  small {
    display: block;
    line-height: 1;
  }
}

.today__detail--donuts {
  flex: 0 1 350px;
  display: flex;
  justify-content: space-between;
}

.donut {
  fill: none;
}

.donut__background {
  stroke: $white;
  opacity: .25;
}

.donut__fill {
  transform: rotate(-90deg);
  transform-origin: center;
  stroke: lighten(saturate($info, 23), 16);
}

.donut__value {
  font: 300 1.25rem/1 $font-condensed;
}
