.today {
  margin: 3.5rem 0 1rem;

  @include media-query(min-md) {
    margin: 2rem 0 1rem;
  }

  @include media-query(min-xl) {
    flex: 1;
    margin: 1rem 0 1rem 2rem;
  }
}

.today__details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include media-query(min-sm) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  span,
  img {
    display: inline-block;
    vertical-align: middle;
  }

  span {
    font: 300 1.25rem/2.25rem $font-condensed;
  }

  img {
    margin-right: .5rem;
  }
}

.today__summary {
  @include media-query(min-sm) {
    flex: 0 0 100%;
  }

  p {
    @include media-query(min-xl) {
      margin: 0;
    }

    @include media-query('min-width: 2100px') {
      margin-bottom: 1rem;
    }
  }
}

.today__detail {
  margin-bottom: 1rem;

  @include media-query(min-sm) {
    margin-bottom: 0;
  }
}

.today__detail--temps,
.today__detail--sun {
  @include media-query(max-sm) {
    column-count: 2;
    page-break-inside: avoid;
    break-inside: avoid;

    > div {
      display: table;
      page-break-inside: avoid;
      break-inside: avoid;
    }
  }
}

.today__detail--temps {
  .high {
    font-size: 2.25rem;
    line-height: 1;
  }

  .low {
    opacity: .75;
    font-size: 1.75rem;
    vertical-align: bottom;
    line-height: 1;
    margin-left: .125rem;
  }
}

.today__detail--moonphase,
.today__detail--humidity,
.today__detail--chanceofprecip,
.today__detail--cloudcover {
  text-align: center;
}

.today__detail--moonphase {
  @include media-query(max-md) {
    text-align: left;

    > div {
      display: flex;

      img {
        margin: 0 1rem 0 0;
      }
    }
  }

  img {
    @include media-query(min-md) {
      display: block;
      margin: 0 auto;
    }
  }

  small {
    display: block;
    line-height: 1;
  }
}

.today__detail--donuts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include media-query(min-sm) {
    flex: 0 1 100%;
    justify-content: space-around;
    flex-wrap: nowrap;
  }

  @include media-query(min-md) {
    flex: 0 1 300px;
    justify-content: space-between;
  }

  @include media-query(min-lg) {
    flex: 0 1 350px;
  }

  > div {
    @include media-query(max-sm) {
      flex: 1 0 120px;
    }
  }
}

.donut {
  fill: none;

  @include media-query(min-md) {
    width: 80px;
    height: 80px;
  }

  @include media-query(min-lg) {
    width: 100px;
    height: 100px;
  }
}

.donut__background {
  stroke: $white;
  opacity: .25;
}

.donut__fill {
  transform: rotate(-90deg);
  transform-origin: center;
  stroke: lighten(saturate($info, 23), 16);
}

.donut__value {
  font: 300 1.25rem/1 $font-condensed;
}
